<%- include("partials/header.ejs") %>
<main>
    <div>
        Under construction
        Test to see if this updates or nah
    </div>
</main>
<script>
    // any client side script
</script>
<%- include("partials/footer.ejs") %>